body {
  text-align: center;

}

.entry {
  font-size: 400%;
  font-weight: bold;
  width: auto;
     color: white;
      text-align: center;
    
}

.typed-cursor {
  opacity: 1;
  font-size: 300%;
  -webkit-animation: blink 0.7s infinite;
          animation: blink 0.7s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#screenFiller {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    border: 15px solid orange;
    padding: 50px;
}
#topbar__forward {
      font-size: 400%;
  font-weight: bold;
  width: auto;
     color: red;
      text-align: center
    
}